parameters:
    level: 8
    paths:
        - src
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
includes:
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
